@import url(./MasterStyles.css);

.dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--background-secondary);
    max-width: 600px;
    width: 100%;
    min-width: 300px;
    min-height: auto;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    z-index: 1;
    border-radius: 8px;  
    margin-right: auto;
    transition: opacity 0.2s linear;
    line-height: 3em;
    padding: 20px;
    transform: translate(-80%, 0);

}

.dropdown-content ul {
    list-style: none;
}

.dropdown-content li {
    display: inline-block;
    color: white;
    max-height: 60px;
    font-size: clamp(9px, 4vw, 24px);
    white-space: nowrap;
}